<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="patients/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Formulaire: Ajouter Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="w-75 m-auto mt-xl-5">
        <div class="card">
            <div class="card-header">Ajouter un Patient</div>
            <form th:action="@{/patient}" method="post" th:object="${patient}">
                <div class="card-body d-flex flex-column gap-2">

                    <label for="name" class="form-label">Nom</label>
                    <input id="name" type="text" th:field="*{name}" class="form-control mb-2" placeholder="Name" />
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="email" th:field="*{email}" class="form-control mb-2" placeholder="Email" />
                    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                    <label for="birthDate" class="form-label">Date de Naissance</label>
                    <input id="birthDate" type="date" th:field="*{birthDate}" class="form-control mb-2" />
                    <div class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{sick}" id="isSick" />
                        <label class="form-check-label" for="isSick">Sick</label>
                    </div>

                    <div class="ms-auto w-full">
                        <button type="submit" class="btn btn-success fw-bold">Save</button>
                        <button type="button" class="btn btn-secondary">
                            <a href="/" class="text-white fw-bold text-decoration-none">Cancel</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>