<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<h1>Liste des patients</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Birth Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.email}"></td>
        <td th:text="${patient.birthDate}"></td>
        <td th:text="${patient.isSick} ? 'Sick' : 'Healthy'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>